html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 0.5em;
    flex-shrink: 0;
}

.icon-container {
    height: 2em;
    width: 2em;
    flex: 1;
}

.icon {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.instagram-icon {
    border-right-style: solid;
    border-width: thin;
}

.instagram-header {
    font-family: cursive;
    flex: 2.5;
    text-align: center;
}

.instagram-link {
    text-decoration: none;
    color: black;
}

.search-box-container {
    flex: 4;
    display: flex;
    justify-content: center;
    align-self: center;
}

.search-box {
    text-align: center;
    height: 1.5em;
}

.main-photos-container {
    overflow-y: auto;
}

.main-photos {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
    flex: 9;
}

.photo-container {
    height: 12em;
    width: 12em;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    object-fit: contain;
    height: 80%;
    width: 80%;
}

.caption {
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.lightbox-main {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 181, 181, 0.5)
}

.hidden {
    display: none;
}

.lightbox-container {
    display: flex;
    padding: 10px;
    background-color: white;
}

.lightbox-photo-container {
    height: 100%;
    width: 100%;
    flex: 4;
}

.lightbox-photo {
    max-height: 100%;
    max-width: 100%;

}

.lightbox-right-container {
    display: flex;
    flex: 2;
    padding-left: 1em;
}

.light-button-container {
    align-self: flex-end;
}

.light-button {
    margin: 0px 0px 5px 5px;
}

.lightbox-caption {
    align-self: flex-start;
    flex: 4;
}

.left-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lightbox-right-buttons-container {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.right-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}